body {
  background-color: #bbb;
  margin: 45px 150px;
}

header {
  margin-bottom: 50px;
  color: #e90010;
}

header img.logo {
  float: left;
  margin-right: 20px;
}

header h1 {
  line-height: 70px;
}

.content header{
  color: #333 !important;
}